---
info: ['app/assemble/pages/more-info.md']
---

<div class="container">

    <div class="row">
        <section class="content col-sm-4 center-block">
            <div class="logo pull-left"><img src="images/flinder.png" alt="flinder">
            </div>
            <div class="clearfix"></div>
            <h2>It's how people meet</h2>
        </section>

        <section class="intro col-sm-8 center-block">
            <h2>Which gender do you prefer?</h2>
            <div class="row gender-choice">
                <a href="#" class="col-sm-6" data-gender="male"><img src="images/male.jpg" alt="Male" class="img-responsive">
                </a>
                <a href="#" class="col-sm-6" data-gender="female"><img src="images/female.jpg" alt="Female" class="img-responsive">
                </a>
            </div>
        </section>

        <section class="profiles col-sm-8 center-block">
                <div class="profiles__holder">
                    <img src="images/whoops.jpg" alt="done" class="completed img-responsive">
                    <ul></ul>
                </div>


                <div class="profiles__btns">
                    <a href="#" class="btn-answers" data-choice="decline"><img src="images/decline.png" alt="decline"></a>
                    <a href="#" class="btn-answers" data-choice="approve"><img src="images/approve.png" alt="approve"></a>
                </div>

        </section>
    </div>
</div>